In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science/refs/heads/main/TelecomX_Data.json'
df = pd.read_json(url)

In [3]:
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [5]:
df_customer = pd.json_normalize(df['customer'])

In [6]:
df_customer

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

In [7]:
df_phone = pd.json_normalize(df['phone'])

In [8]:
df_phone

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [9]:
df_internet = pd.json_normalize(df['internet'])

In [10]:
df_internet

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [11]:
df_account = pd.json_normalize(df['account'])

In [12]:
df_account

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [13]:
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [14]:
# pd.json_normalize

In [15]:
df = df.drop( columns=['customer', 'phone', 'internet', 'account']).join([df_account, df_customer, df_internet, df_phone])

In [16]:
df.head()

,customerID,Churn,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,gender,SeniorCitizen,Partner,...,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PhoneService,MultipleLines
0,0002-ORFBO,No,One year,Yes,Mailed check,65.6,593.3,Female,0,Yes,...,9,DSL,No,Yes,No,Yes,Yes,No,Yes,No
1,0003-MKNFE,No,Month-to-month,No,Mailed check,59.9,542.4,Male,0,No,...,9,DSL,No,No,No,No,No,Yes,Yes,Yes
2,0004-TLHLJ,Yes,Month-to-month,Yes,Electronic check,73.9,280.85,Male,0,No,...,4,Fiber optic,No,No,Yes,No,No,No,Yes,No
3,0011-IGKFF,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,Male,1,Yes,...,13,Fiber optic,No,Yes,Yes,No,Yes,Yes,Yes,No
4,0013-EXCHZ,Yes,Month-to-month,Yes,Mailed check,83.9,267.4,Female,1,Yes,...,3,Fiber optic,No,No,No,Yes,Yes,No,Yes,No

In [17]:
df.PaymentMethod.unique()

array(['Mailed check', 'Electronic check', 'Credit card (automatic)',
       'Bank transfer (automatic)'], dtype=object)

In [18]:
for column in df:
    unico = df[column].unique()
    print(f'{column} \ {unico}')

customerID \ ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Churn \ ['No' 'Yes' '']
Contract \ ['One year' 'Month-to-month' 'Two year']
PaperlessBilling \ ['Yes' 'No']
PaymentMethod \ ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Charges.Monthly \ [65.6  59.9  73.9  ... 91.75 68.8  67.85]
Charges.Total \ ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']
gender \ ['Female' 'Male']
SeniorCitizen \ [0 1]
Partner \ ['Yes' 'No']
Dependents \ ['Yes' 'No']
tenure \ [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
InternetService \ ['DSL' 'Fiber optic' 'No']
OnlineSecurity \ ['No' 'Yes' 'No internet service']
OnlineBackup \ ['Yes' 'No' 'No internet service']
DeviceProtection \ ['No' 'Yes' 'No internet service']
TechSupport \ ['Yes' 'No' 'No internet service']
StreamingTV \ ['Yes' 'No' 'No internet service']
StreamingMovies \ ['No' 'Yes' 'No internet service']
PhoneService \ ['Yes' 'No']
MultipleLines \ ['No' 'Yes' 'No phone service']

<>:3: SyntaxWarning: invalid escape sequence '\ '
<>:3: SyntaxWarning: invalid escape sequence '\ '
C:\Users\bruno\AppData\Local\Temp\ipykernel_14820\972450278.py:3: SyntaxWarning: invalid escape sequence '\ '
  print(f'{column} \ {unico}')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   Contract          7267 non-null   object
 3   PaperlessBilling  7267 non-null   object
 4   PaymentMethod     7267 non-null   object
 5   Charges.Monthly   7267 non-null   float64
 6   Charges.Total     7267 non-null   object
 7   gender            7267 non-null   object
 8   SeniorCitizen     7267 non-null   int64
 9   Partner           7267 non-null   object
 10  Dependents        7267 non-null   object
 11  tenure            7267 non-null   int64
 12  InternetService   7267 non-null   object
 13  OnlineSecurity    7267 non-null   object
 14  OnlineBackup      7267 non-null   object
 15  DeviceProtection  7267 non-null   object
 16  TechSupport       7267 non-null   object
 17  StreamingTV       7267 non-null   object
 18  StreamingMovies   7267 non-null   object
 19  PhoneService      7267 non-null   object
 20  MultipleLines     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

# Tratando os dados

In [20]:
# verificando dados nulos

df.isnull().sum()

customerID          0
Churn               0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
PhoneService        0
MultipleLines       0
dtype: int64

### tratando coluna Churn

In [21]:
df.Churn.unique()

array(['No', 'Yes', ''], dtype=object)

In [22]:
Churn_null = df.query('Churn == ""').index

In [23]:
df.drop(labels=Churn_null, axis=0, inplace=True)

In [24]:
df.Churn.unique()

array(['No', 'Yes'], dtype=object)

In [25]:
df['Churn'] = df.Churn.apply(lambda x: 1 if x=='Yes' else 0)
df['Churn'] = df['Churn'].astype(bool)
df['Churn'].unique()

array([False,  True])

### Tratando coluna PaperlessBiling

In [26]:
df['PaperlessBilling'] = df['PaperlessBilling'].apply(lambda x: 1 if x=='Yes' else 0)
df['PaperlessBilling'] = df['PaperlessBilling'].astype(bool)
df['PaperlessBilling'].unique()

array([ True, False])

### Tratando as colunas Charges.Total e Charges.Monthly

In [27]:
valores_excluir_charges_total = df.query('`Charges.Total` == " "').index

In [28]:
df.drop(valores_excluir_charges_total, axis=0, inplace=True)

In [29]:
df['Charges.Total'] = df['Charges.Total'].astype(np.float64)

In [30]:
df.rename(columns={'Charges.Total': 'ChargesTotal', 'Charges.Monthly': 'ChargesMonthly' }, inplace=True)

In [31]:
df.head()

,customerID,Churn,Contract,PaperlessBilling,PaymentMethod,ChargesMonthly,ChargesTotal,gender,SeniorCitizen,Partner,...,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PhoneService,MultipleLines
0,0002-ORFBO,False,One year,True,Mailed check,65.6,593.30,Female,0,Yes,...,9,DSL,No,Yes,No,Yes,Yes,No,Yes,No
1,0003-MKNFE,False,Month-to-month,False,Mailed check,59.9,542.40,Male,0,No,...,9,DSL,No,No,No,No,No,Yes,Yes,Yes
2,0004-TLHLJ,True,Month-to-month,True,Electronic check,73.9,280.85,Male,0,No,...,4,Fiber optic,No,No,Yes,No,No,No,Yes,No
3,0011-IGKFF,True,Month-to-month,True,Electronic check,98.0,1237.85,Male,1,Yes,...,13,Fiber optic,No,Yes,Yes,No,Yes,Yes,Yes,No
4,0013-EXCHZ,True,Month-to-month,True,Mailed check,83.9,267.40,Female,1,Yes,...,3,Fiber optic,No,No,No,Yes,Yes,No,Yes,No

### Tratando a coluna SeniorCitizen

In [32]:
df.SeniorCitizen.info()

<class 'pandas.core.series.Series'>
Index: 7032 entries, 0 to 7266
Series name: SeniorCitizen
Non-Null Count  Dtype
--------------  -----
7032 non-null   int64
dtypes: int64(1)
memory usage: 109.9 KB

In [33]:
df['SeniorCitizen'] = df['SeniorCitizen'].astype(bool)

### Tratando a coluna Partner

In [34]:
df.Partner.info()

<class 'pandas.core.series.Series'>
Index: 7032 entries, 0 to 7266
Series name: Partner
Non-Null Count  Dtype
--------------  -----
7032 non-null   object
dtypes: object(1)
memory usage: 109.9+ KB

In [35]:
df.Partner.unique()

array(['Yes', 'No'], dtype=object)

In [36]:
df['Partner'] = df['Partner'].apply(lambda x: 1 if x=='Yes' else 0)
df['Partner'] = df['Partner'].astype(bool)

In [37]:
print(df.Partner.info())
print(df['Partner'].unique)

<class 'pandas.core.series.Series'>
Index: 7032 entries, 0 to 7266
Series name: Partner
Non-Null Count  Dtype
--------------  -----
7032 non-null   bool
dtypes: bool(1)
memory usage: 61.8 KB
None
<bound method Series.unique of 0        True
1       False
2       False
3        True
4        True
        ...
7262    False
7263     True
7264    False
7265     True
7266     True
Name: Partner, Length: 7032, dtype: bool>

### Tratando a coluna Dependents

In [38]:
df.Dependents.info()

<class 'pandas.core.series.Series'>
Index: 7032 entries, 0 to 7266
Series name: Dependents
Non-Null Count  Dtype
--------------  -----
7032 non-null   object
dtypes: object(1)
memory usage: 109.9+ KB

In [39]:
df.Dependents.unique()

array(['Yes', 'No'], dtype=object)

In [40]:
df['Dependents'] = df['Dependents'].apply(lambda x: 1 if x=='Yes' else 0)

In [41]:
df['Dependents'] = df['Dependents'].astype(bool)

In [42]:
df.Dependents.unique()

array([ True, False])

### Tratando a coluna StreamingMovie

In [43]:
df.StreamingMovies.info()

<class 'pandas.core.series.Series'>
Index: 7032 entries, 0 to 7266
Series name: StreamingMovies
Non-Null Count  Dtype
--------------  -----
7032 non-null   object
dtypes: object(1)
memory usage: 109.9+ KB

In [44]:
df.StreamingMovies.unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

### Tratando a coluna PhoneService

In [45]:
df.PhoneService.info()

<class 'pandas.core.series.Series'>
Index: 7032 entries, 0 to 7266
Series name: PhoneService
Non-Null Count  Dtype
--------------  -----
7032 non-null   object
dtypes: object(1)
memory usage: 109.9+ KB

In [46]:
df.PhoneService.unique()

array(['Yes', 'No'], dtype=object)

In [47]:
df.PhoneService = df.PhoneService.apply(lambda x: 1 if x=='Yes' else 0)

In [48]:
df.PhoneService = df.PhoneService.astype(bool)

In [49]:
df.PhoneService.unique()

array([ True, False])

In [50]:
df.head()

,customerID,Churn,Contract,PaperlessBilling,PaymentMethod,ChargesMonthly,ChargesTotal,gender,SeniorCitizen,Partner,...,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PhoneService,MultipleLines
0,0002-ORFBO,False,One year,True,Mailed check,65.6,593.30,Female,False,True,...,9,DSL,No,Yes,No,Yes,Yes,No,True,No
1,0003-MKNFE,False,Month-to-month,False,Mailed check,59.9,542.40,Male,False,False,...,9,DSL,No,No,No,No,No,Yes,True,Yes
2,0004-TLHLJ,True,Month-to-month,True,Electronic check,73.9,280.85,Male,False,False,...,4,Fiber optic,No,No,Yes,No,No,No,True,No
3,0011-IGKFF,True,Month-to-month,True,Electronic check,98.0,1237.85,Male,True,True,...,13,Fiber optic,No,Yes,Yes,No,Yes,Yes,True,No
4,0013-EXCHZ,True,Month-to-month,True,Mailed check,83.9,267.40,Female,True,True,...,3,Fiber optic,No,No,No,Yes,Yes,No,True,No

In [51]:
df.to_json('TelecomX_Data.json', index=False)

In [52]:
pd.read_json('TelecomX_Data.json')

,customerID,Churn,Contract,PaperlessBilling,PaymentMethod,ChargesMonthly,ChargesTotal,gender,SeniorCitizen,Partner,...,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PhoneService,MultipleLines
0,0002-ORFBO,False,One year,True,Mailed check,65.60,593.30,Female,False,True,...,9,DSL,No,Yes,No,Yes,Yes,No,True,No
1,0003-MKNFE,False,Month-to-month,False,Mailed check,59.90,542.40,Male,False,False,...,9,DSL,No,No,No,No,No,Yes,True,Yes
2,0004-TLHLJ,True,Month-to-month,True,Electronic check,73.90,280.85,Male,False,False,...,4,Fiber optic,No,No,Yes,No,No,No,True,No
3,0011-IGKFF,True,Month-to-month,True,Electronic check,98.00,1237.85,Male,True,True,...,13,Fiber optic,No,Yes,Yes,No,Yes,Yes,True,No
4,0013-EXCHZ,True,Month-to-month,True,Mailed check,83.90,267.40,Female,True,True,...,3,Fiber optic,No,No,No,Yes,Yes,No,True,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,False,One year,False,Mailed check,55.15,742.90,Female,False,False,...,13,DSL,Yes,No,No,Yes,No,No,True,No
7263,9992-RRAMN,True,Month-to-month,True,Electronic check,85.10,1873.70,Male,False,True,...,22,Fiber optic,No,No,No,No,No,Yes,True,Yes
7264,9992-UJOEL,False,Month-to-month,True,Mailed check,50.30,92.75,Male,False,False,...,2,DSL,No,Yes,No,No,No,No,True,No
7265,9993-LHIEB,False,Two year,False,Mailed check,67.85,4627.65,Male,False,True,...,67,DSL,Yes,No,Yes,Yes,No,Yes,True,No
7266,9995-HOTOH,False,Two year,False,Electronic check,59.00,3707.60,Male,False,True,...,63,DSL,Yes,Yes,Yes,No,Yes,Yes,False,No phone service